@import 'src/styles/shared.scss';

.battle-scene-wrapper {
    position: relative;

    .battle-enemies {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $unit * 1000;
        height: $unit * 600;
    }

    .battle-statistics {
        position: absolute;
        top: 60%;
        left: $unit * 60;
        width: $unit * 300;
        height: $unit * 600;
    }
}