@import 'src/styles/shared.scss';

.battle-scene-wrapper {
    position: relative;

    .battle-enemies {
        position: absolute;
        top: $unit * 420;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $unit * 1000;
        height: $unit * 600;
    }

    .battle-statistics {
        position: absolute;
        top: $unit * 460;
        left: $unit * 60;
        width: $unit * 300;
        height: 26vh;
    }

    .battle-messages-wrapper {
        position: absolute;
        top: $unit * 280;
        right: $unit * 480;
        width: $unit * 320;
        height: $unit * 320;
        color: white;

        .battle-message {
            position: absolute;
            font-size: $unit * 28;
        }
    }
}