@import 'src/styles/shared.scss';

* {
    font-size: $unit * 14;
    color: $primary-text-color;
}

.layout-wrapper {
    position: relative;
    background-color: black;
    height: 100%;

    $paddingToScreen: $unit * 60;

    .layout-slots {
        z-index: 20;
        position: absolute;
        bottom: $paddingToScreen;
        left: $paddingToScreen;
        width: $unit * 400;
    }

    .layout-logs {
        z-index: 20;
        position: absolute;
        top: $paddingToScreen;
        left: $paddingToScreen;
        width: $unit * 300;
    }

    .layout-info {
        z-index: 20;
        position: absolute;
        top: $paddingToScreen;
        right: $paddingToScreen;
    }

    .layout-character {
        z-index: 20;
        width: $unit * 500;
        position: absolute;
        bottom: $paddingToScreen;
        left: 40%;
    }

    .layout-buff {
        z-index: 20;
        width: $unit * 400;
        position: absolute;
        top: 40%;
        right: $paddingToScreen;
    }

    .layout-battle {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}