@import 'src/styles/shared.scss';

* {
    font-size: $unit * 14;
    color: $primary-text-color;
}

.layout-wrapper {
    position: relative;
    background-color: black;
    height: 100%;

    $paddingToScreen: $unit * 60;

    .layout-slots {
        position: absolute;
        bottom: $paddingToScreen;
        left: $paddingToScreen;
    }

    .layout-logs {
        position: absolute;
        top: $paddingToScreen;
        left: $paddingToScreen;
    }

    .layout-enemies {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $unit * 1000;
        height: $unit * 600;
    }

    .layout-info {
        position: absolute;
        top: $paddingToScreen;
        right: $paddingToScreen;
    }

    .layout-character {
        width: $unit * 500;
        position: absolute;
        bottom: $paddingToScreen;
        left: 40%;
    }
}