@import 'src/styles/shared.scss';

.character-wrapper {
    display: flex;
    flex-wrap: wrap;

    .character-casting-wrapper {
        width: 100%;
        height: $unit * 24;
        margin-bottom: $unit * 10;
        flex-shrink: 0;
        display: flex;
        padding: 0 $unit * 8;

        .character-casting-name {
            // width: $unit * 100;
            padding-right: $unit * 10;
            font-size: $unit * 20;
        }

        .character-casting {
            flex: 1;
            color: black;
            line-height: $unit * 24;
        }
    }

    .character-resources-wrapper {
        flex-shrink: 0;
        width: 48%;
        padding: $unit * 10;

        .character-resource {
            display: flex;
            margin-bottom: $unit * 10;

            .character-resource-label {
                width: $unit * 64;
                font-size: $unit * 18;
            }

            .character-resource-value {
                padding-left: $unit * 4;
                flex: 1;
                line-height: $unit * 24;
            }
        }
    }

    .character-attributes-wrapper,
    .character-enhancement-wrapper {
        flex: 1;
        padding: $unit * 10;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .character-attribute {
            display: flex;
            justify-content: space-between;
            height: $unit * 24;

            .character-attribute-label {
                width: $unit * 64;
                font-size: $unit * 18;
            }

            .character-attribute-value {
                font-size: $unit * 18;
            }
        }

        .character-elements-wrapper {
            display: flex;
            justify-content: space-between;

            .character-element {
                display: flex;
            }
        }
    }
}