@import 'src/styles/shared.scss';

.progress-bar-outer {
    border-width: $unit;
    position: relative;
    box-sizing: content-box;
    min-height: $unit * 22;

    .text-outer {
        position: absolute;
        left: $unit * 5;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        white-space: nowrap;
    }

    .progress-bar-inner {
        z-index: 2;
        height: calc(100% + #{$unit} * 2);
        border-width: $unit;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;

        .text-inner {
            position: absolute;
            left: $unit * 5;
            top: 50%;
            transform: translateY(-50%);
            white-space: nowrap;
        }
    }
}